<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Fit</title>
    <link href="https://fonts.googleapis.com/css?family=Aleo|Noto+Serif+SC" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <style media="screen">
    body {
      background-image: url('/images/gymbackground.jpg');
    }
    </style>
  </head>
  <body>
    <header>
      <div class="page_title"> <a href="/"> <span>G</span>et Fit </a> </div>
      <div class="nav">
        <nav>
          <ul>
            <li> <a href="/members"> Members</a></li>
            <li> <a href="/sessions"> Sessions</a> </li>
            <li> <a href="/bookings"> Bookings</a> </li>
          </ul>
        </nav>
      </div>
      </header>

    <!-- </nav> -->
  <%= yield %>
  </body>
</html>
