<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Fit</title>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/members"> All members</a> </li>
        <li> <a href="/sessions"> All sessions</a> </li>
        <li> <a href="/bookings"> All bookings</a> </li>
      </ul>
    </nav>
  <%= yield %>
  </body>
</html>
