<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Bookings</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>  </li>
        <li>  </li>
      </ul>
    </nav>


  </body>
</html>
