<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <nav>
    <ul>
      <li> <a href="/sessions">All sessions</a> </li>
      <li> <a href="/sessions">Add session</a> </li>
    </ul>
  </nav>

</body>
</html>
